@font-face {
  font-family: 'fontello';
  src: url('fontello.eot');
  src: url('fontello.eot?#iefix') format('embedded-opentype'),
  url('fontello.woff2') format('woff2'),
  url('fontello.woff') format('woff'),
  url('fontello.ttf')  format('truetype'),
  url('fontello.svg#svgFontName') format('svg');
}
