$profile_path: '/profiles/droopler' !default;
$theme_path: $profile_path + '/themes/custom/droopler_theme' !default;
$subtheme_path: '/themes/custom/droopler_subtheme' !default;
$lato-font-path: '/libraries/lato-webfont/fonts' !default;

// Assets path
$assets-path : $theme_path + "/images";
