// Global.
//
// Styleguide 3.1

// Paddings, margins and heights.

#main {
  margin-top: 0;
  .node__content {
    margin-top: 0;
  }
}
.page-wrapper {
  min-width: $page-min-width;
  img {
    max-width: 100%;
    height: auto;
  }
  main.main-content {
    width: 100%;
  }
  h1 {
    @include font-main-header-big;
  }
  h2 {
    @include font-main-header;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-header;
    font-weight: $font-header-weight;
  }
  p, ul, ol {
    @include font-body-standard;
  }
  a:not(.btn) {
    @include font-links;
    word-wrap: break-word;
    hyphens: auto;
  }
  div.field--name-field-d-main-title {
    line-height: $headings-line-height;
  }
}
.no-padding {
  padding: 0;
  @include media-breakpoint-down(sm) {
    &-sm {
      padding: 0;
    }
  }
  @include media-breakpoint-down(md) {
    &-md {
      padding: 0;
    }
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

.row::before, .row::after {
  width: 0px;
  height: 0px;
}
