// Modifiers.
//
// Styleguide 3.1

// Colour variables used in this file.
$light-gray-background: $color-hector !default;
$light-gray-background-2: $color-paris !default;
$divider-background: $color-iphis !default;
$grid-border-color: $color-paris !default;
$grid-border-type: solid $grid-border-color !default;
$grid-border-width: 2px !default;
$arrow-margin-right: 2% !default;
$arrow-margin-top: 6% !default;
$arrow-border-width: 9px !default;
$arrow-border: $arrow-border-width solid transparent !default;
$arrow-down-color: lighten($color-achillies, 10%) !default;
$stripe-background-color: rgba(0,0,0, 0.57) !default;
$tile-padding-top: 70px !default;
$tile-padding-bottom: 70px !default;
$tiles-spacing: 10px !default;
$tile-title-font-size-desktop: 4vh !default;
$tile-title-font-size-mobile: 3vh !default;
$header-into-columns-padding-y: 3.875rem !default;
$theme-invert-text-color: $color-cassandra !default;
$line-background-alter: $color-nestor !default;
$two-columned-header-line-margin: 0.625rem !default;

.background {
  &-gray-light {
    background: $light-gray-background;
  }
  &-gray-light-2 {
    background-color: $light-gray-background-2;
  }
}

.theme-invert {
  > .paragraph {
    .field--type-string,
    .field--type-text-long {
      color: $color-cassandra;
    }
  }
}

.full-width {
  .expandable-content {
    width: 100%;
    max-width: 100%;
  }

  &.with-tiles {
    .expandable-content {
      @include media-breakpoint-up(lg) {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
      }
    }
  }
}

.with-divider {
  .slick-track {
    height: 100%;
  }

  .list-item-wrapper {
    &:before {
      position: absolute;
      background-color: $divider-background;
      width: 1px;
      height: 100%;
      left: 0;
      top: 0;
      content: " ";
    }

    &:first-child::before,
    &[aria-hidden="true"] + [aria-hidden="false"]:before,
    &[aria-hidden="false"] + [aria-hidden="true"]:before {
      display: none;
    }
  }
}

.with-grid {
  .expandable-content {
    width: 100%;
    max-width: 100%;
    position: relative;

    &:before,
    &:after {
      height: $grid-border-width;
      background-color: $grid-border-color;
      position: absolute;
      width: 100%;
      content: "";
      z-index: 1;
      left: 0;
    }
    &:after {
      margin-top: -2px;
    }

    .single-boxes-wrapper {
      justify-content: center;
    }

    .list-item-wrapper {
      border-bottom: $grid-border-width $grid-border-type;

      &:last-child {
        border: none;
      }

      @include media-breakpoint-between(sm, md) {
        &:nth-child(2n+1) {
          border-right: $grid-border-width $grid-border-type;
        }
        &:last-child {
          border: none;
        }
      }
      @include media-breakpoint-up(lg) {
        border-right: $grid-border-width $grid-border-type;

        &.grid-row-end-item {
          border-right: none;
        }
      }
    }

    .field--type-entity-reference {
      margin: 0;
    }
  }
}

.with-price {
  flex-direction: column;

  &.stripe-sidebar {
    @include media-breakpoint-up(lg) {
      .item-1 & {
        margin-right: 140px;
      }
      .item-2 & {
        margin-left: 140px;
      }
    }

    .with-price-stripe {
      background-color: $stripe-background-color;
      min-width: 170px;
      height: 100%;
      padding: 0;
      position: absolute;
      top: 0;

      .item-1 & {
        right: 0;
        @include media-breakpoint-down(md) {
          right: 0;
          .with-price-wrapper {
            justify-content: flex-end;
            padding-right: 7vw;
          }
        }
        @include media-breakpoint-down(sm) {
          padding-right: $grid-gutter-width / 2;
        }
      }
      .item-2 & {
        left: 0;
        @include media-breakpoint-down(md) {
          left: 0;
          .with-price-wrapper {
            justify-content: flex-start;
            padding-left: 7vw;
          }
        }
        @include media-breakpoint-down(sm) {
          padding-left: $grid-gutter-width / 2;
        }
      }

      @include media-breakpoint-down(md) {
        height: 70px;
        width: 50vw;
        bottom: 0;
        top: unset;
      }

      @include media-breakpoint-down(xs) {
        right: unset;
        left: 0;
        width: 100%;
      }

      .with-price-wrapper {
        top: 50%;
        color: $white;
        text-align: center;
        position: absolute;
        margin-top: 0;
        left: 0;
        transform: translateY(-50%);
        height: 100px;
        width: 100%;

        @include media-breakpoint-down(md) {
          text-align: left;
          height: 70px;
          padding-left: 30px;
          line-height: 35px;
          display: flex;
          align-items: center;
        }

        @include media-breakpoint-down(xs) {
          .item-1 &, .item-2 & {
            justify-content: flex-start;
            padding-right: $grid-gutter-width / 2;
            padding-left: $grid-gutter-width / 2;
          }
        }

        .with-price-data {
          padding-bottom: 3.8vh;
          font-size: 1.7rem;

          @include media-breakpoint-down(md) {
            padding-bottom: unset;
          }
        }
        .with-price-currency,
        .with-price-timestamp {
          display: none;
        }
        .with-price-percentage {
          color: $white;
        }

        .with-price-arrow {
          margin-top: $arrow-margin-top;
        }
      }

    }
  }

  .with-price-stripe {
    .with-price-wrapper {
      color: $color-cassandra;
      margin-top: 1.5rem;

      .with-price-data {
        display: block;
        font-weight: bold;
        font-size: 3vh;
        clear: right;
        @include media-breakpoint-down(md) {
          display: inline-block;
          padding-right: 20px;
          vertical-align: middle;
          padding-bottom: unset;
        }

        .spinner-border {
          font-size: 1rem;
          color: $color-achillies;
          @include media-breakpoint-down(md) {
            left: 30px;
          }
        }
      }

      .with-price-percentage,
      .with-price-timestamp {
        font-size: 0.9rem;
      }

      .with-price-arrow {
        width: 0;
        height: 0;
        display: inline-block;
        margin-right: $arrow-margin-right;
        border-left: $arrow-border;
        border-right: $arrow-border;

      }

      &.up {
        .change {
          color: $color-serpedon;
        }
        .with-price-arrow {
          border-bottom: 16px solid $color-serpedon;
        }
      }
      &.down {
        .change {
          color: $arrow-down-color;
        }
        .with-price-arrow {
          border-top: 16px solid $arrow-down-color;
        }
      }

      .with-price-timestamp {
        margin-top: 2rem;
        text-align: center;
      }
    }
  }
}

.tile {
  padding: $tile-padding-top 0 $tile-padding-bottom 0;
  transform: scale(1);
  transition: 0.3s;

  @include media-breakpoint-down(md) {
    margin-bottom: $tiles-spacing;
  }

  &:before {
    content: none;
  }

  &:hover {
    transform: scale(1.01);
    transition: 0.3s;
  }

  &.wrapper-d_p_single_text_block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .image-background-container {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: block;
    z-index: -1;
    &.background-properties {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.background-image {
      z-index: -1 !important;
    }
  }

  .d-p-text-block {
    margin-bottom: 0;
  }

  .paragraph {
    .field--name-field-d-main-title {
      text-align: center;
      font-size: $tile-title-font-size-desktop;
      @include media-breakpoint-down(lg) {
        font-size: $tile-title-font-size-mobile;
      }
      &:after {
        margin: 7px auto;
      }
    }
  }

  .field--type-link {
    a {
      &, &:active, &:hover {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: none;
        border: none;
        text-indent: -9999px;
        max-width: none;
      }
    }
  }
}

.header-into-columns {
  .d-p-group-of-text-blocks {
    @include media-breakpoint-up(md) {
      .d-p-group-of-text-blocks-header-wrapper {
        display: flex;
        flex-direction: row;
        margin-top: $header-into-columns-padding-y;
        margin-bottom: $header-into-columns-padding-y;

        > .field {
          flex-basis: 100%;
          text-align: left;
          margin-bottom: 0;
        }
        .field--name-field-d-main-title::after {
          margin: $two-columned-header-line-margin auto $two-columned-header-line-margin 0 !important;
        }
      }
    }
  }
}

.no-padding-bottom > .paragraph {
  padding-bottom: 0;
}

.no-padding-top > .paragraph {
  padding-top: 0;
}
