/**
 * Simple gallery paragraph
 */

// Colour variables used in this paragraph
$d-p-gallery-line-color: $color-agamemnon !default;
$d-p-gallery-line-color-inverted: $color-nestor !default;
$d-p-gallery-color: $color-hecuba !default;
$d-p-gallery-bold-color: $color-troilus !default;

// Margins, paddings and sizing.
$d-p-gallery-margin-y: 5% !default;

.paragraph--type--d-p-gallery {
  margin-top: $d-p-gallery-margin-y;
  margin-bottom: $d-p-gallery-margin-y;
  text-align: center;

  .field--name-field-d-main-title {
    @include font-main-header;
    text-align: center;

    &::after {
      @include decoration-header-line-main-center($d-p-gallery-line-color, $d-p-gallery-line-color-inverted);
    }
  }

  .field--name-field-d-media-icon {
    text-align: center;
  }

  .field--name-field-d-long-text {
    p {
      color: $d-p-gallery-color;
      b, strong {
        color: $d-p-gallery-bold-color;
      }
    }

  }

  .with-long-text & {

    .field--name-field-d-main-title {
      &::after {
        display: none;
      }
    }
    .field--name-field-d-long-text {
      &::before {
        @include decoration-header-line-main-center($d-p-gallery-line-color, $d-p-gallery-line-color-inverted);
      }
    }
  }

  .field--name-field-media-image, .field--name-field-media-oembed-video {
    margin: 0;
  }

  .field--name-field-d-media-image {
    img {
      width: 100%;
      height: auto;
    }
  }
}

