@font-face {
  font-family: 'social_media';
  src: url('social_media.eot?62147417');
  src: url('social_media.eot?62147417#iefix') format('embedded-opentype'),
       url('social_media.woff2?62147417') format('woff2'),
       url('social_media.woff?62147417') format('woff'),
       url('social_media.ttf?62147417') format('truetype'),
       url('social_media.svg?62147417#social_media') format('svg');
  font-weight: normal;
  font-style: normal;
}
