@font-face {
  font-family: 'Lato';
  src: url("lato-regular.eot");
  src: url("lato-regular.eot?#iefix") format("embedded-opentype"),
  url("lato-regular.woff2") format("woff2"),
  url("lato-regular.woff") format("woff"),
  url("lato-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
