[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "social_media";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-twitter:before { content: '\f099'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */

.social-media-wrapper {
  .follow-us {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .icons-wrapper {
    li {
      display: inline-block;
      &:after {
        content: '|';
        opacity: 0.2;
        font-size: 2rem;
      }
    }
    li.last-element {
      &:after {
        content: none;
      }
    }
    .icon {
      font-size: 150%;
      padding: 10px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
